[Desktop Entry]
Name=COSMIC Wallpaper Settings
Comment=Configure your live wallpaper for the COSMIC desktop
Exec=cosmic-wallpaper-gui
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=cosmic;wallpaper;background;live;audio;visualizer;